body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.loginBtn {
  margin: 1em;
}
.Gmap {
  width: 700px;
  height: 600px;
  float: left;
}
.TrailList {
  height: 600px;
  width: auto;
  overflow: auto;
}
.TrailListEntry {
  background-color: #4CAF50;
}
.content-wrap{
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
  overflow: hidden;
}
.col-wide{
  width: 65%;
  float: left;
  min-height: 175px;
}
.col-narrow{
  width: 35%;
  float: right;
  min-height: 175px;
}
.view-posts {
  float: right;
}
.trail-entry {
  margin: 5px;
}
.post {
  margin: 10px 0;
}

.rootWeather {
  display: 'flex';
  flexWrap: 'nowrap';
  justifyContent: 'space-around';
  overflow: auto;
}

.gridListWeather {
  display: 'flex';
  flexWrap: 'nowrap';
  overflowX: 'auto';
  overflow: auto;
}

.titleStyleWeather {
  color: 'rgb(0, 188, 212)';
}

.weatherDetailPopup = {
  height: 4000;
  width: 100;
  margin: 20;
  textAlign: 'center';
  display: 'inline-block';
};

.wundergroundimg = {
  margin: 1em;
}