body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.loginBtn {
  margin: 1em;
}
.Gmap {
  width: 700px;
  height: 600px;
  float: left;
}
.TrailList {
  height: 600px;
  width: auto;
  overflow: auto;
}
.TrailListEntry {
  background-color: #4CAF50;
}
.content-wrap{
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
  overflow: hidden;
}
.col-wide{
  width: 65%;
  float: left;
  min-height: 175px;
}
.col-narrow{
  width: 35%;
  float: right;
  min-height: 175px;
}
.view-posts {
  float: right;
}